body{
    background-color: rgb(42, 43, 43);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    text-align: center;
    background-color: rgb(223, 228, 228);
    padding: 10px;
}

main{
    text-align: center;
    flex: 1;
}


/*Div de estadísticas*/
#stats{
    padding: 20px;
    max-width: 1000px;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 10px;
    
}

#stats button{
    border: none;
    border-radius: 10px;
    background-color: rgb(42,43,43);
    margin: 10px;
    font-family: sans-serif;
    font-size: 30px;
    text-shadow: 0px 0px 1px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    width: 290px;
}

#stats button:hover{
    background-color: white;
    color:black;
    /*cursor: pointer;*/
}


/*Div de pomodoro*/
#pomodoro{
    display: none;
    padding: 25px;
    max-width: 600px;
    text-align: center;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: rgb(223, 228, 228);
    font-family: sans-serif;
    font-size: 45px;
    text-shadow: 0px 0px 1px black;
    color: rgb(0, 0, 0);
}

#pomodoro input{
    display: none;
    text-align: center;
}


/*Divs de pomodoro, DC y DL*/
#tiempo-pomodoro, #descanso-corto, #descanso-largo{
    margin-left: 20px;
    display: inline;
}


/*Botones de elección de pomodoro*/
#botones{
    padding: 20px;
    max-width: 700px;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 10px;
}

#botones button{
    background-color: rgb(223, 228, 228);
    border-radius: 10px;
    margin: 10px;
    font-family: sans-serif;
    font-size: 30px;
    text-shadow: 0px 0px 1px black;
    color: rgb(0, 0, 0);
    width: 200px;
}

#botones button:hover{
    cursor: pointer;
    background-color: black;
    color:white;
}


/*Botones internos del pomodoro*/
#botones-internos button{
    font-family: sans-serif;
    text-shadow: 0px 0px 1px black;
    background-color: black;
    color:white;
    border-radius: 10px;
    font-size: 20px;
}

#botones-internos button:hover{
    cursor: pointer;
    background-color: white;
    color:black;
}


/*Div de hora y fecha*/
#hora-fecha{
    position: flex;
    width: 100%;
    left: 0px;
    right: 0px;
    bottom: 20px;
    width: 30rem;
    margin-inline: auto;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(223, 228, 228);
    font-family: sans-serif;
    font-size: 45px;
    text-shadow: 0px 0px 1px black;
    color: rgb(0, 0, 0);
}